body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Light blue background color */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
}

.project a {
    color: #005fc5;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    flex: 1;
}

.image {
    flex: 1;
    text-align: right;
}

.image img {
    max-width: 100%;
    height: auto;
}



